<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="gestionPedidos.Properties.Settings.GestionPedidosConnectionString"
            connectionString="Data Source=samirv2\SQLEXPRESS;Initial Catalog=GestionPedidos;Persist Security Info=True;User ID=sa;Password=savv141516"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>